extends layout

block content
    header
        nav.navbar.navbar-inverse
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="/") Anonymous Payment Processor™
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/order") Order
                    li
                        a(href="/track") Track
                    li
                        a(href="/contact") Contact
    #main
        div(ng-view)