extends layout

block content
    header(layout="row")
        ul.md-display-1(ng-controller="NavCtrl" layout="row" layout-align="space-around center" layout-margin layout-fill)
            li(flex="60")
                a(href="/") Payment Processor™
            li(ng-class="{ active: isCurrentPath('/') }")
                a(href="/order") Order
            li(ng-class="{ active: isCurrentPath('/track')}")
                a(href="/track") Track
            li(ng-class="{ active: isCurrentPath('/contact')}")
                a(href="/contact") Contact
    #main
        div(ng-view)