doctype html
html(ng-app="orderApp")
  head
    title= title
    link(rel='stylesheet' href='/vendors/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/vendors/angular/angular.min.js')
    script(type='text/javascript' src='/javascripts/app.min.js')
  body
    block content
