doctype html
html(ng-app="orderApp")
  head
    title= title
    link(rel='stylesheet' href='/vendors/angular-material/angular-material.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')
    link(rel='stylesheet' href='/stylesheets/style.css')
    base(href='/')
    meta(name="viewport" content="initial-scale=1")
  body
    block content
    script(src='/vendors/angular/angular.min.js')
    script(src='/vendors/angular/angular-route.min.js')
    script(src='/vendors/angular-aria/angular-aria.js')
    script(src='/vendors/angular-animate/angular-animate.js')
    script(src='/vendors/angular-material/angular-material.js')
    script(type='text/javascript' src='/javascripts/app.min.js')

